.winter {
  list-style: url(../public/img/icons/winter_16.png);
}
.spring {
  list-style: url(../public/img/icons/spring_16.png);
}
.summer {
  list-style: url(../public/img/icons/autumn_16.png);
}
.autumn {
  list-style: url(../public/img/icons/autumn_16.png);
}

.seasons::marker {
  content: "»";
  font-size: 3em;
}
